.phonebutton {
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    height: 50px;
    width: 100px;
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 0 5px #999;
}

.phonebutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.dialclear {
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    height: 50px;
    width: 152px;
    display: inline-block;
    box-shadow: 0 5px #999;
}
.dialclear:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
.innumber {
    width: 308px;
    height:50px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.contactbutton {
    background-color: #5194ff; /* Green */
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    height: 50px;
    width: 25%;
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 0 5px #999;
}

.topbutton {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.topbutton{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.topbutton:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.topbutton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

